# Python related
__pycache__
.mypy_cache
.venv*
.conda/
uv.lock
.coverage

# IDE and editors
.vscode
.idea

# Logs and temporary files
botpy.log
logs/
temp
cookies.json

# Data files
data_v2.db
data_v3.db
data
configs/session
configs/config.yaml
cmd_config.json

# Plugins and packages
addons/plugins
packages/python_interpreter/workplace
tests/astrbot_plugin_openai

# Dashboard
dashboard/node_modules/
dashboard/dist/
package-lock.json
package.json
yarn.lock

# Operating System
**/.DS_Store
.DS_Store

# AstrBot specific
.astrbot
astrbot.lock

# Other
chroma
venv/*
pytest.ini
AGENTS.md
IFLOW.md
